
body {
    padding: 50px 85px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    counter-reset: section;
    background-color: #f2f2f2;
}

p {
    line-height: 2em;
}

code {
    font-family: 'Fira Code', monospace;
    background-color: #353535;
    color: #91d1ff;
    padding: 1px 5px;
    font-size: 0.9em;
}

a {
    color: #3aadff;
    font-weight: bold;
}

h1::before {
    counter-increment: section;   
    content: "Section " counter(section) ": '";
}

h1 {
    margin-top: 20px;
    font-size: 1.5em;
}

h1:after {
    content: "'";
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

pre {
    background-color: #353535;
    width: 500px;
    padding: 5px;
}

ol {
    counter-reset: item;
    list-style-type: none;
}

li::before {
    counter-increment: item;
    content: counters(item, ".") " ";
    color:#3aadff;
}

#title {
    margin-bottom: 70px;
}

#hello {
    font-size: 2em;
}
  
#hello:before {
    content: "Hello";
    padding: 50px;
    background-color: #232323;
  
    z-index: 0;
    border: 1px solid #232323;
    color: #fff;
}
  
#hello:after {
    content: "World";
    padding: 50px;
    color: #232323;
    border: 1px solid #232323;
}

#hello-description {
    margin-top: 70px;
}

#content1:before {
    content: "Hello from :before!";
    margin-right: 15px;
    background-color:#232323;
    color: #f2f2f2;
    padding: 5px;
}

#content1:after {
    content: "Hello from :after!";
    margin-left: 15px;
    background-color:#f2f2f2;
    color: #232323;
    padding: 5px;
}

#content2 {
    margin-top: 15px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

#content2:after {
    content: url('../img/after.png');
    margin-left: 15px;
}

#content3:before {
    content: "";
    border-left: 10px solid #3aadff;
    border-right: 10px solid maroon;
    margin-right: 5px;
}

#content3:after {
    content: "";
    border-left: 10px solid #3aadff;
    border-right: 10px solid maroon;
    margin-left: 5px;
}

#long-paragraph {
    color: #222E50;
    font-weight: bold;
}

#long-paragraph::first-line {
    color: #007991;
}

#long-paragraph::first-letter {
    color: #BCD8C1;
}

#long-paragraph::selection {
    color: red;
}

.state-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #353535;
    padding: 10px 5px;
}

.state-grid code {
    background-color: transparent;
}

/* demonstrating the concepts of clearing floats */

.box {
    padding: 50px;
    background-color: #40a373;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.big-box {
    padding: 100px;
    background-color: #781c33;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.clearer {
    clear: both;
}

.overflower {
    overflow: hidden;
}

/* styles resulting in similar layouts to the overflow method above */

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container div {
    align-self: flex-start;
}

.grower {
    flex-grow: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

.grid-container div {
    align-self: start;
}

/* flex basis demonstration */

.flex-basis-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 200px;
    border: 2px solid #52001b;
}

.flex-basis-container__item {    
    border: 2px solid #f2f2f2;
    width: 100px;
    height: 196px;
    color: #f2f2f2;
    text-align: center;
}

.fbci_1, .fbci_4, .fbci_7, .fbci_10, .fbci_13, .fbci_16, .fbci_19, .fbci_22 {
    background-color: #8f2145;
}

.fbci_2, .fbci_5, .fbci_8, .fbci_11, .fbci_14, .fbci_17, .fbci_20, .fbci_23 {
    background-color: #79218f;
}

.fbci_3, .fbci_6, .fbci_9, .fbci_12, .fbci_15, .fbci_18, .fbci_21, .fbci_24 {
    background-color: #6a4bb8;
}

.fbci_4, .fbci_5, .fbci_6, .fbci_13 {
    flex-basis: 200px;
}

.fbci_7, .fbci_8, .fbci_9 {
    flex-basis: 200px;
    min-width: 250px;
}

.fbci_10, .fbci_11, .fbci_12 {
    width: 196px;
    height: 100px;
    flex-basis: 200px;
}

.fb-demo-contianer {
    display: flex; 
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    column-gap: 20px;
}

.fbc-vertical {
    flex-direction: column; 
    width: 200px;
    height: 800px;
}

.fbci_13, .fbci_14, .fbci_15, .fbci_16, .fbci_17, .fbci_18 {
    min-width: 250px;
}

.fbci_19, .fbci_20, .fbci_21, .fbci_22, .fbci_23, .fbci_24 {
    width: 250px;
}
